* {
    margin: 0;
    border: border-box;
    font-family: sans-serif;
}

header {
    height: 60px;
    background-color: black;
    padding-left: 15px;
    padding-top: 10px;
    display: flex;
}

.topbar-left {
    display: flex;
    width: 78%;
}

.back-arrow {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-arrow {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
}

.menu {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 7px
}

.bell {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.install {
    height: 35px;
    width: 115px;
    border-radius: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 0.85rem;
}

.premium {
    height: 35px;
    width: 140px;
    border-radius: 20px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 700;
}

.topbar-right {
    display: flex;
}

.topbar-right div {
    margin-right: 10px;
}

.header2 {
    height: 50px;
    background-color: black;
    padding-left: 15px;
    display: flex;
}

.all {
    height: 35px;
    width: 40px;
    border-radius: 20px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 550;
    margin-right: 7px;
}

.music {
    height: 35px;
    width: 65px;
    border-radius: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 550;
    margin-right: 7px;
}

.podcasts {
    height: 35px;
    width: 80px;
    border-radius: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 550;
}

.all:active {
    background-color: Black;
    color: white;
}

.music:active {
    background-color: white;
    color: black;
}

.podcasts:active {
    background-color: white;
    color: black;
}

.premium:hover {
    height: 36px;
    width: 141px;
    font-size: 0.9rem;
}

.install:hover {
    height: 36px;
    width: 117px;
    font-size: 0.9rem;
}

.library {
    background-color: black;
    height: 220px;
    padding-top: 10px;
}

.line1 {
    display: flex;
    justify-content: space-evenly;
}

.lib1 {
    height: 70px;
    width: 360px;
    border-radius: 7px;
    margin-left: 15px;
    background-color: rgb(25 20 20);
    display: flex;
    color: white;
}

.lib2 {
    height: 70px;
    width: 360px;
    border-radius: 7px;
    background-color: rgb(25 20 20);
    display: flex;
    color: white;
}

.lib3 {
    height: 70px;
    width: 360px;
    border-radius: 7px;
    background-color: rgb(25 20 20);
    display: flex;
    color: white;
}

.lib4 {
    height: 70px;
    width: 360px;
    border-radius: 7px;
    background-color: rgb(25 20 20);
    display: flex;
    color: white;
}

.line2 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 12px;
}

.lib5 {
    height: 70px;
    width: 360px;
    border-radius: 7px;
    margin-left: 15px;
    background-color: rgb(25 20 20);
    display: flex;
    color: white;
}

.lib6 {
    height: 70px;
    width: 360px;
    border-radius: 7px;
    background-color: rgb(25 20 20);
    display: flex;
    color: white;
}

.lib7 {
    height: 70px;
    width: 360px;
    border-radius: 7px;
    background-color: rgb(25 20 20);
    display: flex;
    color: white;
}

.lib8 {
    height: 70px;
    width: 360px;
    border-radius: 7px;
    background-color: rgb(25 20 20);
    display: flex;
    color: white;
}

.img1 {
    height: 70px;
    width: 70px;
    background-image: url("https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2023%2F07%2Ftravis-scott-nike-road-to-utopia-sweepstakes-info-1.jpg?cbr=1&q=90");
    background-size: cover;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.img2 {
    height: 70px;
    width: 70px;
    background-image: url("https://i.ytimg.com/vi/NyTkaQHdySM/sddefault.jpg?v=643426fc");
    background-size: cover;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.img3 {
    height: 70px;
    width: 70px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThhd0iWYVnVZ1Osi9Cg-rGUpQGaXjLCLpZhA&s");
    background-size: cover;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.img4 {
    height: 70px;
    width: 70px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX6TtKcZ9d-baODeHZC4sm59lRumH9ayb1Yx1nPBfdbg&s");
    background-size: cover;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.img5 {
    height: 70px;
    width: 70px;
    background-image: url("https://i.scdn.co/image/ab6761610000e5eb0261696c5df3be99da6ed3f3");
    background-size: cover;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.img6 {
    height: 70px;
    width: 70px;
    background-image: url("https://variety.com/wp-content/uploads/2024/03/Badshah.jpg?w=1000");
    background-size: cover;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.img7 {
    height: 70px;
    width: 70px;
    background-image: url("https://images.genius.com/f047f8067b6b0eb07d331fb83c0882f0.1000x1000x1.jpg");
    background-size: cover;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.img8 {
    height: 70px;
    width: 70px;
    background-image: url("https://curlytales.com/wp-content/uploads/2023/10/NAVRATRI-2.jpg");
    background-size: cover;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.name {
    padding-top: 27px;
    padding-left: 15px;
    font-weight: 550;
    font-size: 0.88rem;
}

.content {
    background-color: black;
    height: 400px;
    color: white;
    padding-left: 20px;
}

.content h2:hover {
    text-decoration: underline;
}

.oneline {
    display: flex;
    justify-content: space-evenly;
}

.dm1 {
    height: 300px;
    width: 250px;
    background-color: black;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    padding-right: 10px;
}

.dm1:hover {
    background-color: rgb(25 20 20);
}
 
.pic1 {
    height: 215px;
    width: 245px;
    background-image: url("https://variety.com/wp-content/uploads/2024/03/Badshah.jpg?w=1000");
    background-size: cover;
    border-radius: 10px;
}

.d1 {
    margin-top: 10px;
}

.suggs {
    margin-top: 8px;
    color: #CCCCCC;
    font-size: 0.9rem;
}

.pic2 {
    height: 215px;
    width: 245px;
    background-image: url("https://images.genius.com/f047f8067b6b0eb07d331fb83c0882f0.1000x1000x1.jpg");
    background-size: cover;
    border-radius: 10px;
}

.pic3 {
    height: 215px;
    width: 245px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX6TtKcZ9d-baODeHZC4sm59lRumH9ayb1Yx1nPBfdbg&s");
    background-size: cover;
    border-radius: 10px;
}

.pic4 {
    height: 215px;
    width: 245px;
    background-image: url("https://i.scdn.co/image/ab6761610000e5eb85237b56097a9579b52338bf");
    background-size: cover;
    border-radius: 10px;
}

.pic5 {
    height: 215px;
    width: 245px;
    background-image: url("https://i.scdn.co/image/ab6761610000e5eb1eabab66e670e65bf1acc422");
    background-size: cover;
    border-radius: 10px;
}

.pic6 {
    height: 215px;
    width: 245px;
    background-image: url("https://i.scdn.co/image/ab67616d00001e02a90a3cbabaee190af2f972bf");
    background-size: cover;
    border-radius: 10px;
}

.pic7 {
    height: 215px;
    width: 245px;
    background-image: url("https://www.allaboutmusic.in/wp-content/uploads/2019/08/DIVINE-30364-ConvertImage-ConvertImage-scaled.jpg");
    background-size: cover;
    border-radius: 10px;
}

.pic8 {
    height: 215px;
    width: 245px;
    background-image: url("https://i.scdn.co/image/ab6761610000e5eb8f553f96d564d1005a92d131");
    background-size: cover;
    border-radius: 10px;
}

.pic9 {
    height: 215px;
    width: 245px;
    background-image: url("https://i1.sndcdn.com/artworks-000146543726-0myyjw-t500x500.jpg");
    background-size: cover;
    border-radius: 10px;
}

.pic10 {
    height: 215px;
    width: 245px;
    background-image: url("https://i.scdn.co/image/ab67616d0000b273628c920567640b4cea99a394");
    background-size: cover;
    border-radius: 10px;
}